<h1>Датчики</h1>
<div class="row">
  {{#if detector.length}}
  {{#each detector}}
  <div class="col s4">
    <div class="card blue-grey darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title name_detector">{{name_detector}}</span>
        <span class="card-title model_detector">{{model_detector}}</span>
        <span class="card-title producing_country">{{producing_country}}</span>
      </div>
      <div class="card-action">
        <a href="/sensors/{{id}}" target="__blank">Открыть</a>
        {{#if @root.isAuth}}
        <a href="/sensors/edit/{{id}}?allow=true">Редактировать</a>
        <form action="/delete" method="POST"
          onSubmit="if(confirm('Are you sure?')) {this.submit;} else {return false;}">
          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="btn btn-primary">Удалить</button>
          <input type="hidden" name="_csrf" value="{{@root.csrf}}">
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<p>Датчики отсутствуют</p>
{{/if}}